.messages
{
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-grow: 3;
}

.gameBox
{
	overflow-y: scroll;
	height: 10em;
	flex-grow: 1;
}

.nodes
{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0;
	padding: 8px;
}

.node
{
	list-style-type: none;
}

.command
{
	color: gray;
	font-style: italic;
}

.help
{
	color: cadetblue;
}