.main
{
	height: 100%;
	padding: 16px 0;
	display: flex;
	flex-direction: column;
}

.header
{
	margin-top: 0;
}

.game
{
	margin: 8px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	flex-grow: 1;
}

.messages
{
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-grow: 3;
}

.characters
{
	flex-grow: 1;
	max-width: 13em;
}

.bordered
{
	border: black 1px solid;
	border-radius: 5px;
	font-family: Courier, monospace;
}

.gameBox
{
	overflow-y: scroll;
	height: 10em;
	flex-grow: 1;
}

.nodes
{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0;
	padding: 8px;
}

.node
{
	list-style-type: none;
}

.inputWrapper
{
	display: flex;
	column-gap: 8px;
}

.input
{
	display: block;
	padding: 4px 8px;
	flex-grow: 1;
}

.command
{
	color: gray;
	font-style: italic;
}